body{
  background-color: rgb(219,203,182);
  font-size: small;
  font-family: Arial;
}


img {
  border-radius: 20px;
  /*float: left;*/
}

h1 {
	text-align: center;
}

#logo {
  float: left;
  width: 65px;
}

#logoCap {
  float: bottom;
}

nav {
	float: top;

	text-align: center;
	margin: 5px auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

aside {
	float: right;
}


ul#navigation li {
    list-style-type: none;
    display: inline;
    padding: 0px;
		margin: 0px; /*Abstand der Schaltflächen im Navigationsmenü*/
		width: 20%;
}

#navigation {
  padding: 4px 0;                   /* Innenabstand: oben/unten 4px, li/re 0 */
}



div {

	margin: 5px auto;
	margin-top: 10px;
	margin-bottom: 20px;
	float: bottom;
}



ul#navigation li a:link {
		display: inline;
		border: 1px solid #000;
		background-color: white;
		padding: 10px;
		font-family: Arial;
		text-decoration: none;
		font-weight: bold;
}

/* Realisieren des hover-Effekts*/
nav .submenu {
	visibility: hidden;
	display:inline-block;
}

nav li:hover .submenu,
nav li:active .submenu,
nav li:focus .submenu  {
  visibility: visible;
  height: auto;
}


span.kontakt {
  border: 1px solid black;
  font-family: Arial;
  float: right;
}

a:link {
	color:green;
}

a:visited {
	color:red;
}

a:hover {
	color:yellow;
}

a:active {
	color:yellow;
}

figcaption {
	float: bottom;
	padding: 10px;
	bottom: 10px;
}

#impressum {
	padding-left: 15px;
}

footer {
	float: bottom;
	text-align: center;
	padding: 30px;
	bottom: 10px;
}
