body{
  background-color: rgb(219,203,182);
  font-size: small;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul#navigation li {
    list-style-type: none;
    display: inline;
    padding: 0px;
		margin: 5px; /*Abstand der Schaltflächen im Navigationsmenü*/
		width: 20%;
}
#navigation {
  padding: 4px 0;                   /* Innenabstand: oben/unten 4px, li/re 0 */
  margin:10;                        /*Außenabstand */
}

ul#navigation li a:link {
		display: inline;
		border: 1px solid #000;
		background-color: white;
		padding: 10px;
		color: #000;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		font-weight: bold;
